[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
init_dev = "pipenv sync --dev"
init = "pipenv sync"
server = "python manage.py runserver 0.0.0.0:4011"
shell = "python manage.py shell"
migration = "python manage.py makemigrations"
migrate = "python manage.py migrate"
import_seed = "python manage.py import_seed"
start = "./scripts/start.sh"
worker = "./scripts/worker.sh"

[packages]
psycopg = "*"
djangorestframework = "*"
botocore = "*"
boto3 = "*"
pycurl = "*"
django-redis = "*"
django-injector = "*"
injector = "*"
isort = "*"
black = "*"
celery = "*"

[dev-packages]

[requires]
python_version = "3.12"
